[flake8]
max-line-length = 120
exclude =
    .rasa/,
    tests/,
    models/,
    logs/,
    processed_txt/,
    __pycache__/
ignore =
    # Ignoráljuk a dokumentációs figyelmeztetéseket és néhány stílusproblémát
    D100,D101,D102,D103,W503