# ignore Rasa temporary dir
.rasa/
actions/__pycache__/
*.pyc
*.log
.rasa/cache/
models/
.rasa/cache/cache.db
/.env
logs/
.flake8
.pylintrc
docs/output/processed_txt/
__pycache__/
/actions/__pycache__